version: "3.8"

services:
  algo-vista:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    stdin_open: true
    tty: true
    container_name: algo-vista
    restart: unless-stopped

networks:
  default:
    name: algo-vista-network

  #   container_name: algo-vista-bot-spot
  #   depends_on:
  #     - web

networks:
  default:
    name: algo-vista-network
